{%extends 'instaflex/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}


<div class="container-fluid">
  <div class="stripperbowl">
    <div class="row">
    <div class="col-1"></div>
    <div class="col-9" style="max-width:40rem; margin-top:20px;">
      {% for image in images %}

      <div class="card mr-0" style="max-width:40rem; margin-top:10px;">
        <div class="card-header"><img class="img-thumbnail " src="{{image.profile.profile_photo.url}}" style="height:40px;margin-top:5px;margin-bottom:5px;">
          <a href="/profile/{{user.id}}">
            <label>{{image.posted_by}}</label></a>
        </div>
        <img src="{{image.insta_image.url}}" class="card-img-top" data-target="#demo{{image.id}}" data-toggle="collapse">
        <div class="card-body">
          <div class="header">
            <a id="like" href="{% url 'like' operation='like' pk=image.id%}"><i class="far fa-heart" style="margin-right:10px;color:black;"></i></a>
            <a href="#chatcomment" style="color:black;"><i class="far fa-comment"></i></a>
            

          </div>
          <div class="like-section">
            {% if image.likes >= 1 %}
            <label>{{image.likes}} Likes</label>
            {% endif %}
            <p><strong>{{image.posted_by}} </strong>{{image.caption}}</p>
            {% for comment in comments %}
            {% if image.id == comment.image.id %}
            <p><strong>{{comment.poster}}</strong> {{comment.comment}}</p>
            {% endif %}
            {%endfor%}
            {{form.media}}

            <form action="{%url 'comment' pk=image.id%}" method="post" enctype="multipart/form-data" id="yobra">
                {%csrf_token%}
  
                {% bootstrap_form form%}
  
              </form>
  
            </div>
          </div>
        </div>
  
        {% endfor %}
      </div>
  </div>
{% for image in images %}
<div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extraModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Posted by: {{image.posted_by}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </div>

      <div class="modal-body">
        <img class="card-img-top" class="img-responsive" src="{{image.insta_image.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal" size="100px200">
        <p>{{image.caption}} </p>
        <label>{{image.likes}} Likes</label>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}
