{% load static %}

<div id="mode">
  <nav class="navbar-navbar-expand-lg navbar-dark bg-dark">
    <div class="navbaronly">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">Home Feed
           <img src="{%static 'images/nav.png'%}" alt="">
        </a>
      </div>
      <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="navbar-form" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Insta User" name="event">
          <div class="input-group-btn">
            <button class="btn btn-outline-danger" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>

      </form>
    </div>
  <!-- search form end -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" title="User">{{user}}</a>
      <li class="nav-item mx-1">
        <a class="nav-link" href="/profile/{{user.id}}" title="profile">
          <div class="profile">
        <img src="{%static 'images/prof3.png'%}" alt="">
      <h4>Your Profile</h4>
      </a>
        </li>
      </div>

    
    <div class="migo">
      <li class="nav-item">
        <a class="nav-link" href="/logout" title="Logout">
        <img src="{%static 'images/Logout-icon.png'%}" alt="">
        </a>
      </li>
    </div>

    <p><a href="{% url 'add_profile' %}" class="btn btn-success"><i class="fas fa-edit"></i>create profile</a></p>

    <p><a href="{% url 'upload' %}" class="btn btn-success"><i class="fa fa-upload" aria-hidden="true"></i>upload photo</a>
    </div>
    </div>
    </nav>
  
  
  
      
        
     
              
  
  
  
  
  

  
