{%extends 'base.html'%} 
{% block content %}
{% load bootstrap3 %}
<div class="container">

  <div class="row">
    {% if instas%}
      <h3>Found {{ instas|length }} of searched term {{message}}</h3>
    {% else %}
      <h3> No Insta User found {{message}}</h3>
    {% endif %}

  </div>

  <div class="row">

  {% if instas %}
    {% for insta in instas %}
      <div class="col-sm-6 col-md-3">
          <h1>{{insta.title}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
