.nutella {
    background-image: url(../images/—Pngtree—instagram\ icon\ instagram\ logo_3588824.png);
}
.bg {
    background-image: url(../images/ig3.jpeg);
}

.panel panel-default {
    background-image: url(../images/—Pngtree—instagram\ icon\ instagram\ logo_3588824.png);
}
.dg {
    background-image: url(../images/ig2.jpeg);
}
h3 {
    font-size: larger;
}
.profile-image {
    background-image: url(../images/profile.jpg);
}